@{
    ViewData["Title"] = "Select Your Gender";
}
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<div class="profile">
<div class="progress-container">
    <div class="progress-bar" style="width: 35%;"></div>
</div>

<a asp-action="CreateName" class="back-btn">⟵ Back</a>

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateGender" method="post">
    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender">
            <option value="">-- Please select --</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Prefer not to say">Prefer not to say</option>
        </select>
    </div>
        <br />
        <button type="submit" class="btn btn-primary">Continue</button>
</form>
</div>