@{
    ViewData["Title"] = "Select Your Hair Type";
}
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<div class="profile">
<div class="progress-container">
    <div class="progress-bar" style="width: 65%;"></div>
</div>

<a asp-action="CreateAge" class="back-btn">⟵ Back</a>

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateHairType" method="post">
    <div class="form-group">
        <label for="hairType">Hair Type</label>
        <select class="form-control" id="hairType" name="hairType">
            <option value="">-- Please select --</option>
            <option value="Straight">Straight</option>
            <option value="Wavy">Wavy</option>
            <option value="Curly">Curly</option>
            <option value="Coily">Coily</option>
            <option value="Other">Other</option>
        </select>
    </div>
        <br />
        <button type="submit" class="btn btn-primary">Continue</button>
</form>
</div>