@{
    ViewData["Title"] = "Select Your Skin Type";
}
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<div class="profile">
<div class="progress-container">
    <div class="progress-bar" style="width: 80%;"></div>
</div>

<a asp-action="CreateHairType" class="back-btn">⟵ Back</a>

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateSkinType" method="post">
    <div class="form-group">
        <label for="skinType">Skin Type</label>
        <select class="form-control" id="skinType" name="skinType">
            <option value="">-- Please select --</option>
            <option value="Normal">Normal</option>
            <option value="Dry">Dry</option>
            <option value="Oily">Oily</option>
            <option value="Combination">Combination</option>
            <option value="Don't know yet">Don't know yet</option>
        </select>
    </div>
        <br />
        <button type="submit" class="btn btn-primary">Continue</button>
</form>
</div>