@{
    ViewData["Title"] = "Self-Care Challenges";
}

<link rel="stylesheet" href="~/css/challenges.css" />


<div class="container mt-5 challenge-card">
    <div class="text-center mb-5" id="dailyChallenge">
       
        <h2 class="fw-bold"> 💕 Daily Self-Care Challenge </h2>
        <br /> <br />
        <h2 id="challengeText" class="fw-semibold" style="font-size: 1.5rem;"> </h2>

        <button id="doneButton" class="btn btn-success btn-sm mt-2">✅ I completed this!</button>
        <p class="mt-2" id="challengeStatus"></p>

        <span id="badgeCounter" class="badge bg-success mt-2" style="font-size: 1rem;"></span>
    </div>
</div>

<ul id="historyList" class="list-group mt-4"> </ul>

<div class="container mt-5 challenge-card">
    <h2 class="text-center mt-5">🌟 You're one step closer to your goal!</h2>

    <!-- Progress bar -->
    <div class="progress mt-3" style="height: 30px;">
        <div id="progressBar" class="progress-bar progress-bar-striped bg-info" role="progressbar"
             style="width: 0%;" aria-valuemin="0" aria-valuemax="30">
            0/30 days
        </div>
    </div>
</div>

<br />

<div class="container mt-3">
    <div class="card p-4 text-center shadow rounded-4 border-10" style="background-color: floralwhite;">
        <h2 class="mb-3 fs-3">💎 Badges earned so far: </h2>

        <div id="earnedBadge" class="fs-5 fw-semibold text-success" style="min-height: 2rem;">
            <!-- mesajul apare din JavaScript -->
        </div>

        <div class="mt-3">
            <button id="resetProgress" class="btn btn-outline-danger btn-sm">
                🔁 Reset Progress
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/challenges.js"></script>
}
